
{% extends 'base.html' %}
{% block title %}О компании{% endblock %}
{% block content %}
<h1 class="mb-3">О сервисе мониторинга</h1>
<p>Панель мониторинга ООО «Базис-Центр» используется для контроля доступности и качества IT-сервисов, обработки инцидентов и взаимодействия с клиентами.</p>
<ul>
  <li>Централизованная очередь заявок от пользователей;</li>
  <li>Сопровождение инцидентов на всех стадиях жизненного цикла;</li>
  <li>Учёт смен персонала и регламентов работы;</li>
  <li>Формирование управленческих отчётов.</li>
</ul>
{% endblock %}
